<h1>Welcome to our Theater!</h1>
<figure>
    <img style="width: 80vw; height: 70vh;" src="https://images.unsplash.com/photo-1503095396549-807759245b35?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=kyle-head-p6rNTdAPbuk-unsplash.jpg" alt="Theater">
    <figcaption>
        <span class="caption">A theater red backdrop, with the shadows of three actors in front of it.</span>
        <i class="photo-credit">Photo by <a href="https://unsplash.com/it/@kyleunderscorehead?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kyle Head</a> on <a href="https://unsplash.com/photos/p6rNTdAPbuk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></i>
    </figcaption>
</figure>
<p>Check out our <a href="/api/v1/productions">productions</a> and <a href="/api/v1/crew_members">crew members</a>!</p>